<ion-list lines="full">
  <form [formGroup]="contactForm" (ngSubmit) = "formSubmit()">


    <ion-item>
      <ion-label position="floating">Nombre Grupo</ion-label>
      <ion-input formControlName="groupNom" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Album</ion-label>
      <ion-input formControlName="albumNom" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Duracion Álbum</ion-label>
      <ion-input formControlName="albumDuracion" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Año Album</ion-label>
      <ion-input formControlName="año" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Género Album</ion-label>
      <ion-input formControlName="genero" type="text" required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Crear Álbum</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-list>