<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" tab="home">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>Álbums</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected"routerLink="/make-contact" tab="make-contact">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nuevo Álbum</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



