<ion-list>
  <ion-item *ngFor="let albums of albums">
    <ion-label>
      <h5>
        <ion-icon name="group"></ion-icon>{{album.groupNom}}
      </h5>
      <p>
        <ion-icon name="album"></ion-icon>{{album.albumNom}}
      </p>
    </ion-label>
    <div item-end>
      <button ion-button clear [routerLink]="['/edit-contact/', contact.$key]">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear (click)="deleteAlbum(album.$key)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </ion-item>
</ion-list>